
.container {
  width: 100%;
  display: flex;
  padding: 20px;
  max-width: 500px;
  border-radius: 5px;
  margin-bottom: 50px;
  flex-direction: column;
  background-color: white;
  border: 1px solid var(--border);
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

/* .container label, */
.container button {
  width: 100%;
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-weight: 900;
  border-radius: 5px;
  text-align: center;
  background:#F8C7CC;
  border: 1px solid var(--border);
}

.inputContainer {
  width: 100%;
  display: flex;
  margin-bottom: .25rem;
  flex-direction: column;
}